# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you: 
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

title: Clássico, Tradicional, Eclético
email: palazzo@unb.br
description: >-
  Discursos arquitetônicos produzidos de c. 1860 a 1930,
  com ênfase na formação dos campos teóricos brasileiros
  compreendidos numa abordagem global.
baseurl: "/arqtrad"
url: "https://dmcpatrimonio.github.io"
twitter_username: p3palazzo
github_username:  dmcpatrimonio

# Build settings
theme: minima
plugins:
  - jekyll-feed
  - jekyll-github-metadata
  - jekyll-relative-links
source: docs/
relative_links:
  enabled: true
  collections: true

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
exclude:
  - LICENSE
  - README.md
  - lib/
  - spec/
  - .sass-cache/
  - .jekyll-cache/
  - gemfiles/
  - Gemfile
  - Gemfile.lock
  - Makefile
  - package.json
  - node_modules/
  - .vendor/bundle/
  - .vendor/cache/
  - .vendor/gems/
  - .vendor/ruby/
  - vendor/
  - .venv/
