# General {{{1
title: "Clássico, tradicional, eclético: Arquitetura brasileira no longo século XIX"
email: palazzo@unb.br
description: >-
  Write an awesome description for your new site here. You can edit this
  line in _config.yml. It will appear in your document head meta (for
  Google search results) and in your feed.xml site description.
baseurl: "arqtrad"
url: "https://dmcpatrimonio.github.io"
twitter_username: p3palazzo
github_username:  p3palazzo

# Content {{{1
collections: # {{{2
  agent:
    output   : true
    permalink: /:collection/:name
  agentclass:
    output   : true
    permalink: /:collection/:name
  event:
    output   : true
    permalink: /:collection/:name
  location:
    output   : true
    permalink: /:collection/:name
  physicalobject:
    output   : true
    permalink: /:collection/:name
  resource:
    output   : true
    permalink: /:collection/:name

defaults: # {{{2
  -
    scope:
      path      : ""
      type      : "agent"
    values:
      layout    : "resource"
      itemtype  : "http://schema.org/Person"
      class     : "Agent"
  -
    scope:
      path      : ""
      type      : "agentclass"
    values:
      layout    : "resource"
      itemtype  : "http://schema.org/Organization"
      class     : "AgentClass"
  -
    scope:
      path      : ""
      type      : "event"
    values:
      layout    : "resource"
      itemtype  : "http://schema.org/Event"
      type      : "Event"
  -
    scope:
      path      : ""
      type      : "location"
    values:
      layout    : "resource"
      itemtype  : "http://schema.org/Place"
      class     : "Location"
  -
    scope:
      path      : ""
      type      : "physicalobject"
    values:
      layout    : "resource"
      itemtype  : "http://schema.org/CreativeWork"
      type      : "PhysicalObject"
  -
    scope:
      path      : ""
      type      : "resource"
    values:
      layout    : "resource"
      itemtype  : "http://schema.org/Thing"

# Build settings {{{1
theme: minima # {{{2
minima:
  date_format : "%Y-%m-%d"
  social_links:
    twitter   : p3palazzo
    github    : p3palazzo

plugins:
  - jekyll-feed
  - jekyll-github-metadata
markdown: kramdown
kramdown:
  auto_ids: true
exclude: # {{{2
  - docs/reveal.js/
  - README.md
  - lib/
  - spec/
  - Gemfile
  - Gemfile.lock
  - LICENSE
  - Makefile
  - .bundle/
  - .sass-cache/
  - .jekyll-cache/
  - gemfiles/
  - node_modules/
  - .vendor/bundle/
  - .vendor/cache/
  - .vendor/gems/
  - .vendor/ruby/

# vim: set foldmethod=marker :
